@import "../variables.scss";

.container {
  background: $dark-color;
  width: 100%;
  max-width: $summary-max-width;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-color;
  padding: 3em;
}

.title {
  align-self: flex-end;
  margin-bottom: 1em;
}

.image {
  width: 100%;
  background-color: $light-color;
  padding: 2em;
  margin-bottom: 1em;
}

.price {
  width: 100%;
  margin-top: 1em;
}

@media (max-width: 300px) {
  .container {
    font-size: 1.5rem;
  }
}
