@import "../variables.scss";

.btn {
  width: 100%;
  max-width: 200px;
  min-height: 50px;
  background: $config-btn-color;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $config-btn-font-color;
  font-weight: 700;
  font-size: 1.8rem;
  border: none;

  &:hover {
    cursor: pointer;
    background: $config-btn-hover-color;
    color: $config-btn-font-hover-color;
  }

  p {
    padding: 0.3em;
  }
}

.selected {
  background: $config-btn-selected-color;
  color: $config-btn-font-selected-color;
  transform: scale(1.05);
  box-shadow: 1px 4px 4px #a0a0a0;

  &:hover {
    background: $config-btn-selected-hover-color;
    color: $config-btn-font-selected-hover-color;
  }
}

.color {
  width: 50px;
  height: 50px;

  &:hover {
    outline: 3px solid $config-colorBtn-outline-hover-color;
    outline-offset: 2px;
  }
}

.color.selected {
  outline: 3px solid $config-colorBtn-outline-selected-color;
  outline-offset: 2px;

  &:hover {
    outline: 3px solid $config-colorBtn-outline-hover-color;
  }
}

.disabled {
  background: transparent;
  border: 1px dotted #a0a0a0;
  color: #a0a0a0;
  cursor: not-allowed;
  position: relative;

  &:hover {
    cursor: not-allowed;
    background: transparent;

    &:before {
      content: "This config option is incompatible with Your previous selections.";
      position: absolute;
      top: -20px;
      left: 0;
      background: #e65d5d;
      width: 200px;
      height: min-content;
      font-weight: 700;
      padding: 0.3em;
    }
  }
}
