@import "../variables.scss";

.container {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0.5em;
}

@media (min-width: $media-desktop-width) {
  .title {
    text-align: unset;
    margin: unset;
  }
}
