@import "../variables.scss";

.notification {
  width: 100%;
  background-color: $notification-color;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 10%;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
}

.notification h2,
.notification p {
  font-size: 2rem;
  margin: 0;
}

.error {
  background-color: $notification-error-color;
}

.success {
  background-color: $notification-success-color;
}
