@import "./variables.scss";

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto minmax(500px, auto);
}

.wrapper {
}

.title {
  text-align: center;
}

@media (min-width: $media-desktop-width) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: unset;
  }

  .title {
    text-align: unset;
  }
}
