@import "./variables.scss";

.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto minmax(500px, auto);
  justify-items: center;
}

.wrapper {
  width: 100%;
}

.title {
  text-align: center;
}

@media (min-width: $media-desktop-width) {
  .container {
    max-width: 1400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 0.95fr $summary-max-width;
    grid-template-rows: unset;
    gap: 20px;
    justify-content: center;
    // justify-items: center;
    // align-items: center;
  }

  .title {
    text-align: unset;
  }
}
