@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Nunito, Tahoma, sans-serif;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}
